:global(#app) {
  .cover {
    background: url("../../assets/images/cover.jpg") center / cover;
  }

  .descriptionSubtitle {
    font-weight: normal;
    font-family: "IranSansBold";
    margin-top: 8px;
    font-size: 36px;
    text-align: center;
  }

  .descriptionTitle {

    font-size: 140px;
    text-align: center;
    margin-bottom: 8px;
  }

  .descriptionWrapper {
    padding: 0 0 0 80px;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
  }

  .descriptionWrapperOverlay {
    background: rgba(33, 33, 33, 0.5);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .formTitle {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 32px;
    font-family: "IranSansBold";
  }

  .fullHeight {
    height: 100%;
  }

  .fullHeightPaddingFix {
    height: calc(100% + 1rem);
  }

  .inputLabel {
    font-size: 16px;
    font-family: "IranSansMedium";
    line-height: 20px;
    text-align: right;
    margin-bottom: 4px;
  }

  .inputWrapper {
    margin-bottom: 16px;
  }

  .loginWrapper {
    margin: 0 auto;
    max-width: 440px;
    padding: 0 20px;
  }

  .wrapper {
    background: radial-gradient(circle at center, #f4f4f4, #f4f4f4 10%, transparent 10%, transparent 20%, #f4f4f4 20%, #f4f4f4 30%, transparent 30%, transparent 40%, #f4f4f4 40%, #f4f4f4 50%, transparent 50%, transparent 60%, #f4f4f4 60%, #f4f4f4 70%, transparent 70%, transparent 80%, #f4f4f4 80%, #f4f4f4 90%, transparent 90%);
    background-size: 3em 3em;
    background-color: #ffffff;

  }
}